        script(type='text/template', data-template='about')
            .tpl-container.tpl-about
                .tpl-content
                    h1 So, who's the FunnyBunny?
                    p.
                        Suspendisse faucibus, nunc et pellentesque egestas, lacus ante convallis tellus, vitae iaculis lacus elit id tortor. Vivamus aliquet elit ac nisl. Fusce fermentum odio nec arcu. Vivamus euismod mauris. In ut quam vitae odio lacinia tincidunt. Praesent ut ligula non mi varius sagittis. Cras sagittis. Praesent ac sem eget est egestas volutpat. Vivamus consectetuer hendrerit lacus. Cras non dolor.
                    a.regular.nav-link(href='#products') Back To Products
                    //.close(data-path='grid') X