        script(type='text/template',data-template='intro')
            .tpl-container.tpl-intro
                .tpl-content
                    h1 FunnyBunny
                    h2 Store Slogan
                    p.
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                    .controls
                        a.regular.red(href='#products', data-path='products') Enter
                        a.regular(href='#about', data-path='about') About