        script(type='text/template', data-template='leave_review')
            textarea(placeholder='write your review here')
            .error-box
            .controls
                .stars.clearfix
                    .star.n1
                    .star.n2
                    .star.n3
                    .star.n4
                    .star.n5
                button.regular.invert.action.action-submit-review Submit