        script(type='text/template', data-template='product')
            <% var ids = App.State.productsIds; %>
            <% var ind = _.indexOf(App.State.productsIds, id);  %>
            <% var prevId = (ind === 0) ? ids.length : ind;  %>
            <% var nextId = (ind === ids.length - 1) ? 1 : ind + 2;  %>

            .tpl-container.tpl-product
                .tpl-content
                    .display
                        .inner
                            .image
                                img(src!='<%= image_url %>')

                            a.for-grid(href='#products')

                            .controls
                                a.prev(href!='#products/<%= prevId %>')
                                a.next(href!='#products/<%= nextId %>')
                    .title
                        h1 <%= title %>
                    .description.
                        <%= description %>
                    .reviews
                        h2 Reviews
                        .leave-review

                        .review-list

                    .footer-nav
                        a.item(href='') Home
                        a.item(href='#about') About Us
