        script(type='text/template', data-template='user_not_authed')
            .tpl-container.tpl-user-not-authed
                .tpl-content
                    .controls
                        a.action.action-show-auth(href='#auth') Authorize
